peerid.dat
comps
build
dist
*.log
*.log.*
eventmanager.log*
nbproject/private
*.run.lock
.DS_Store
/JavaApplication1/nbproject/private/
/installer/nsis/EventManagerSetup*.exe
/installer/thirdparty/*.exe
tmp
out
.idea
