/**** General styles ****/

table {
    text-align:left;
    font-family:monospace;
}

td, th {
    padding-left:   1em;
    padding-right:  1em;
    padding-top:    0.5em;
    padding-bottom: 0.5em;
    white-space:    nowrap;
}

th {
    padding-top:   2em;
    border-bottom: 1px solid;
}

/**** Repechage styles ****/

table.repechage {
    border-collapse: collapse;
    border-spacing: 0;
    padding: 0;
    margin: 0;
    border: none;
    font-family: serif;
}
table.repechage td, th {
    white-space: nowrap;
    border-style: solid;
    border-spacing: 0px;
    border-color: black;
    border-width: 0px;
    padding: 0;
    padding-left: 5px;
    padding-right: 5px;
}

table.repechage td.rborder {
    border-right: 1px solid black;
}

table.repechage td.lborder {
    border-left: 1px solid black;
}

table.repechage td.tborder {
    border-top: 1px solid black;
}

table.repechage td.bborder {
    border-bottom: 1px solid black;
}

table.repechage td.border {
    border-width: 1px;
}

/*** Round robin styles ***/

.f {
    background-color: gray;
}

table.roundrobin {
    border-collapse: collapse;
    border-spacing: 0;
    padding: 0;
    margin: 0;
    font-family: serif;
}
table.roundrobin td {
    border-style: solid;
    border-spacing: 0px;
    border-color: black;
    border-width: 1px;
}
